<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Angular Controllers</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>
</head>
<body ng-app="myApp">
  <div ng-controller="formController as fc">
      First Name: <br>
      <input type="text" ng-model="fc.formObj.fName"><br>
      Last Name: <br>
      <input type="text" ng-model="fc.formObj.lName"><br>
      Email:<br>
      <input type="email" ng-model="fc.formObj.email"><br>
      Comments: <br>
      <textarea ng-model="fc.formObj.comments"></textarea><br>
      <button ng-click="fc.addValues()">Add Form</button>
      <div ng-controller="tableController as tc">
          <p>Total Entries: {{tc.numberOfTableEntries()}}</p>
          <table>
              <tr>
                  <th>Full Name</th>
                  <th>Email</th>
                  <th>Comments</th>
                  <th>Action</th>
              </tr>
              <tr ng-repeat="info in formArray">
                  <td>{{info.fName + ' ' + info.lName}}</td>
                  <td>{{info.email}}</td>
                  <td>{{info.comments}}</td>
                  <td><button ng-click="tc.removeObjFromFormArray($index)">Delete</button></td>
              </tr>
              <tr>
                  <td >{{ fc.formObj.fName + " " + fc.formObj.lName}}</td>
                  <td>{{ fc.formObj.email }}</td>
                  <td>{{ fc.formObj.comments }}</td>
              </tr>

          </table>
      </div>
      <p>Characters remaining: {{fc.charactersLeft()}} </p>
  </div>
  <script src="script.js"></script>
</body>
</html>